{% load static %}

<html>
	<head>
		<title>{% block title %}Home{% endblock %} | BONICARE HEALTH CLINIC</title>
		<!--<link rel="icon" href="imageset/favicon.png">-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script src="{% static "js/materialize.min.js" %}"></script>

		<script src="{% static "js/script.js" %}?v=3"></script>
		<style>
			@media print {
				.hide-on-print, nav, footer, #slide-out, .button-collapse {
					display: none !important;
				}
				body, main, #body {
					padding-left: 0 !important;
					margin: 0 !important;
					width: 100% !important;
				}
				.container {
					width: 100% !important;
					max-width: 100% !important;
				}
				.card, .card-panel {
					box-shadow: none !important;
					border: 1px solid #ccc !important;
				}
			}
		</style>
	</head>

	<body>

		{% if messages %}
			{% for message in messages %}
					<script>
						Materialize.toast('{{ message }}', 3000);
					</script>
			{% endfor %}
		{% endif %}

		<ul id="slide-out" class="side-nav fixed">
			<li><div class="user-view">
		      <div class="background">
						<img src="{% static "index.jpeg" %}">
		      </div>
					<a href="/profile"><img class="circle center" src="{% static 'account.png' %}"></a>
		      <a href="/profile"><span class="white-text name">{{request.user.first_name}} {{request.user.last_name}}</span></a>
		      <a href="/profile"><span class="white-text email">{{request.user.email}}</span></a>
		    	</div>
			</li>

			{% for item,url in menu.items %}
				<li><a class="waves-effect waves-grey" href="{{url}}">{{item}}</a></li>
			{% endfor %}
			<li><div class="divider"></div></li>
			<li><a class="waves-effect" href="/logout">Logout</a></li>
		</ul>

		<main class="center-align">
					<nav>
			    	<div class="nav-wrapper blue-grey darken-3">
							<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
							<a href="#" class="brand-logo center">{% block heading %}BONICARE HEALTH CLINIC{% endblock %}</a>
						</div>
					</nav>
					<div id="body">
						{% block content %}{% endblock %}
					</div>
		</main>


		<footer class="page-footer blue-grey darken-2">
			<div class="container">
				<div class="row" style="margin-bottom: 0;">
					<div class="col s12 m6 grey-text text-lighten-4 left-align">
						<h5 style="margin-top: 0;">BONICARE HEALTH CLINIC</h5>
						<p style="margin: 0;">Contact: 0758269991</p>
					</div>
					<div class="col s12 m6 grey-text text-lighten-4 right-align">
						<div>Developed By</div>
						<div>sirmtech | dirfimcoder | dafirmtech</div>
					</div>
				</div>
			</div>
		</footer>


	</body>
</html>
