{% extends 'home/base.html' %}

{% block heading %}Delete Salary Record{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST">
            {% csrf_token %}
            <div class="card red lighten-5">
                <div class="card-content red-text text-darken-4">
                    <span class="card-title">Are you sure?</span>
                    <p>You are about to delete the salary record for <strong>{{ salary.employee.first_name }} {{ salary.employee.last_name }}</strong> for the month of <strong>{{ salary.month|date:"F Y" }}</strong>.</p>
                    <p>This action cannot be undone.</p>
                </div>
                <div class="card-action right-align">
                    <a href="{% url 'salary_list' %}" class="btn-flat">Cancel</a>
                    <button type="submit" class="btn red darken-2">Yes, Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
